//- Pug Template
doctype html
html(lang="en")
  head
    title Sample Pug Template
    meta(charset="utf-8")
  body
    h1 Hello, World!
    p This is a sample Pug template.
    ul
      each val in ['One', 'Two', 'Three']
        li= val
